@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}

.box {
    width: 100px;
    height: 60px;
}

.boxa {
    width: 100px;
    height: 60px;
    border-radius: 4px;
}

#boxes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    column-gap: 20px;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
    padding-top: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #555;
}

h2 {
    padding-bottom: 20px;
    padding-left: 10px;
}